The crawled raw data (left-wing, right-wing, neutral) was removed due to privacy issues. In case you want to reproduce the esults, either you contact us or you crawl the data according the paper.

If you crawl data, bring it in the following format and for each orientation one file.

In [4]:
import pandas as pd

In [24]:
dataset_left = pd.read_pickle("./dataset_LEFT.pkl")
dataset_neutral = pd.read_pickle("./dataset_NEUTRAL.pkl")
dataset_right = pd.read_pickle("./dataset_RIGHT.pkl")

In [25]:
dataset_left.head()

,tweet_id,user_id,orientation,recording_type,text
1,12345678910,987654321,left,timelines,This is the text of the tweet

In [26]:
dataset_neutral.head()

,tweet_id,user_id,orientation,recording_type,text
1,12345678910,987654321,neutral,timelines,This is the text of the tweet

In [27]:
dataset_right.head()

,tweet_id,user_id,orientation,recording_type,text
1,12345678910,987654321,right,timelines,This is the text of the tweet